<div class="formItem {{ field.field_class|default('') }}">
    <div class="formKey">
        {{ field.name|default('') }}
    </div><div class="formValue">
        {{ field.text|default('')|raw }}
    </div>
</div>