<div class="paneTitle noClose">
	<span class="paneIcon"><img src="/images/search-filters/title-filters.png" alt=""></span>
	<span class="paneText">{{ 'front.filtres_actifs'|trans }}</span>
	<span class="paneItemCount clear">{{ filters_active_count }}</span>
</div>