{% if app.session.get(domain_variable_name) == domain_international_id and  section.getPrixEuro %}
	<div class="priceValue">{{ section.getPrixEuro|default(0)|number_format(0, '.', ' ') }} <span class="euro"><i class="fa fa-eur"></i></span></div>
{% elseif section.getPrixRouble %}
	<div class="priceValue">{{ section.getPrixRouble|default(0)|number_format(0, '.', ' ') }} <span class="rub">RUB</span></div>
{% endif %}