<div class="blockTotalCount">{{ 'front.votre_selection'|trans }}: {% if search|default('')%}<span class="tsar-orange">{{ search }} {% endif %}<span class="tsar-search">{{ count }}</span> {{ 'front.offres'|trans }}</span></div>
