<div class="item">
	<div class="itemContent">
		{% include 'particials/list/block_left.html.twig' with { 'section': item,
		'section1': 'extension' } %}{% include 'particials/list/block_middle.html.twig' with { 'section': item,
		'section1': 'extension' } %}{% include 'particials/list/block_right.html.twig' with { 'section':item, 'section1': 'extension' } %}
	</div>
	{% include 'particials/list/block_bottom.html.twig' with { 'section': item,'section1': 'extension' } %}
</div>