<div class="paneTitle">
    <span class="paneIcon"><img src="{{ urlImg }}" alt=""></span>
    <span class="paneText">{{ paneTitle }}</span>
    <span class="expandReduce clear"><i class="fa {% if check %}fa-plus{% else %}fa-minus{% endif %}"></i></span>
</div>