<div class="tsarContacts">
	<h3 class="contactsTitle">{{ 'front.contacts.title1'|trans }} <span class="color_f19600">{{ 'front.contacts.title2'|trans }}</span></h3>
	<h4>{{ 'front.contacts.h4'|trans }}</h4>
	<h3 class="tsarPhone">{{ settings.get('site_contacts').translate.value }}<span class="phone"><i class="fa fa-phone"></i></span></h3>
</div>